<div class="drawer" [class.open]="isOpen">
    <h2>Add New Deal</h2>
    <form (ngSubmit)="onSubmit()" class="form">
        <!-- Input fields for each property of DealLCInput -->
        <div class="form-group">
            <label for="formLC">Form LC</label>
            <input type="text" id="formLC" name="formLC" [(ngModel)]="newDeal.formLC" required>
        </div>
        <!-- Due Date -->
        <div class="form-group">
            <mat-label class="custom-label">Due Date</mat-label>
            <mat-form-field>
              <input matInput [matDatepicker]="dueDatePicker" placeholder="Choose a date" [(ngModel)]="newDeal.dueDate" name="dueDate">
              <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #dueDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          
          <div class="form-group">
            <mat-label class="custom-label">Expiry Date</mat-label>
            <mat-form-field>
              <input matInput [matDatepicker]="expiryDatePicker" placeholder="Choose a date" [(ngModel)]="newDeal.expiryDate" name="expiryDate">
              <mat-datepicker-toggle matSuffix [for]="expiryDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #expiryDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        <!-- Expiry Place -->
        <div class="form-group">
            <label for="expiryPlace">Expiry Place</label>
            <input type="text" id="expiryPlace" name="expiryPlace" [(ngModel)]="newDeal.expiryPlace" required>
        </div>
        <!-- Customer Reference -->
        <div class="form-group">
            <label for="customerReference">Customer Reference</label>
            <input type="text" id="customerReference" name="customerReference" [(ngModel)]="newDeal.customerReference"
                required>
        </div>
        <!-- Counter Party -->
        <div class="form-group">
            <label for="counterParty">Counter Party</label>
            <input type="text" id="counterParty" name="counterParty" [(ngModel)]="newDeal.counterParty" required>
        </div>
        <!-- Bank ISS Ref -->
        <div class="form-group">
            <label for="bankISSRef">Bank ISS Ref</label>
            <input type="text" id="bankISSRef" name="bankISSRef" [(ngModel)]="newDeal.bankISSRef" required>
        </div>
        <!-- Bank RMB Ref -->
        <div class="form-group">
            <label for="bankRMBRef">Bank RMB Ref</label>
            <input type="text" id="bankRMBRef" name="bankRMBRef" [(ngModel)]="newDeal.bankRMBRef" required>
        </div>
        <!-- Currency ID -->
        <div class="form-group">
            <label for="currencyId">Currency ID</label>
            <input type="text" id="currencyId" name="currencyId" [(ngModel)]="newDeal.currencyId" required>
        </div>
        <!-- LC Amount -->
        <div class="form-group">
            <label for="lcAmount">LC Amount</label>
            <input type="text" id="lcAmount" name="lcAmount" [(ngModel)]="newDeal.lcAmount" required>
        </div>
        <!-- Var Amount Tolerance -->
        <div class="form-group">
            <label for="varAmountTolerance">Var Amount Tolerance</label>
            <input type="text" id="varAmountTolerance" name="varAmountTolerance"
                [(ngModel)]="newDeal.varAmountTolerance" required>
        </div>
        <!-- Available With -->
        <div class="form-group">
            <label for="availableWith">Available With</label>
            <input type="text" id="availableWith" name="availableWith" [(ngModel)]="newDeal.availableWith" required>
        </div>
        <!-- Partial Transhipment -->
        <div class="form-group">
            <label for="partialTranshipment">Partial Transhipment</label>
            <input type="text" id="partialTranshipment" name="partialTranshipment"
                [(ngModel)]="newDeal.partialTranshipment" required>
        </div>
        <!-- Transhipment -->
        <div class="form-group">
            <label for="transhipment">Transhipment</label>
            <input type="text" id="transhipment" name="transhipment" [(ngModel)]="newDeal.transhipment" required>
        </div>
        <div class="buttons-container">
            <button type="submit" class="submit-btn">Submit</button>
            <button type="button" (click)="closeDrawer()" class="back-btn">Back</button>
        </div>
    </form>
</div>