<h1>Mappings</h1>
<button (click)="openMappingDrawer()">Add Mapping</button>
<br>
<button (click)="filterMappingsByMt()">Filter by MT</button>

<select [(ngModel)]="selectedMt">
  <option value="All">All</option>
  <option *ngFor="let mt of distinctMtValues" [value]="mt">{{ mt }}</option>
</select>
<button (click)="resetFilter()">Reset</button>

<br>

<button (click)="filterMappingsBySt()">Filter by Status</button>
<select [(ngModel)]="selectedSt">
  <option value="O">O</option>
  <option value="M">M</option>
</select>
<button (click)="resetFilter()">Reset</button>

<br>

<input [(ngModel)]="filter" (ngModelChange)="filterMappings()" placeholder="Filter Mappings">
<button (click)="resetFilter()">Reset</button>


<app-mapping-table-management-drawer [isOpen]="isMappingDrawerOpen" [mappingToUpdate]="mappingToUpdate"
  (drawerStateChange)="handleDrawerStateChange($event)" (mappingAdded)="refreshMappings()"
  (mappingUpdated)="refreshMappings()">
</app-mapping-table-management-drawer>

<table class="finance-table">
  <thead>
    <tr>
      <th>MT</th>
      <th>Field Order</th>
      <th>Tag</th>
      <th>Field Name</th>
      <th>Status</th>
      <th>Entity Name</th>
      <th>Database Field</th>
      <th>Field Description</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mapping of mappings">
      <td>{{ mapping.mt }}</td>
      <td>{{ mapping.fieldOrder }}</td>
      <td>{{ mapping.tag }}</td>
      <td>{{ mapping.fieldName }}</td>
      <td>{{ mapping.status }}</td>
      <td>{{ mapping.entityName }}</td>
      <td>{{ mapping.databaseField }}</td>
      <td>{{ mapping.fieldDescription }}</td>
      <td>
        <button (click)="openMappingDrawer(mapping)">Edit</button>
        <button (click)="deleteMapping(mapping.id)" disabled>Delete</button>
      </td>
    </tr>
  </tbody>
</table>