<h1>Mappings</h1>
<button (click)="openDrawer()">Add Mapping</button>
<app-mapping-table-management-drawer 
[isOpen]="isOpen" 
[mappingToUpdate]="mappingToUpdate"
(drawerStateChange)="handleDrawerStateChange($event)">
</app-mapping-table-management-drawer>


<table class="finance-table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Database Field</th>
      <th>Tag</th>
      <th>Field Description</th>
      <th>Entity Name</th>
      <th>MT</th>
      <th>Field Order
        <button (click)="sortByOrder(true)">
          &uarr; <!-- Up arrow symbol -->
        </button>
        <button (click)="sortByOrder(false)">
          &darr; <!-- Down arrow symbol -->
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mapping of mappings">
      <td>{{ mapping.status }}</td>
      <td>{{ mapping.databaseField }}</td>
      <td>{{ mapping.tag }}</td>
      <td>{{ mapping.fieldDescription }}</td>
      <td>{{ mapping.entityName }}</td>
      <td>{{ mapping.mt }}</td>
      <td>{{ mapping.fieldOrder }}</td>
      <td>
        <button (click)="openDrawer(mapping)">Edit</button> <!-- Pass mapping to update -->
      </td>
    </tr>
  </tbody>
</table>