<h1>Mappings</h1>
<button (click)="openDrawer()">Add Mapping</button>
<br> <!-- Line break for separation -->
<button (click)="filterMappingsByMt()">Filter by MT</button>

<select [(ngModel)]="selectedMt">
  <option value="All">All</option>
  <option *ngFor="let mt of distinctMtValues" [value]="mt">{{ mt }}</option>
</select>
<button (click)="resetFilter()">Reset</button>

<br> <!-- Line break for separation -->

<button (click)="filterMappingsBySt()">Filter by Status</button>
<select [(ngModel)]="selectedSt">
  <option value="O">O</option>
  <option value="M">M</option>
</select>
<button (click)="resetFilter()">Reset</button>

<br> <!-- Line break for separation -->

<button (click)="filterMappingsByDf()">Filter by db Field</button>
<input [(ngModel)]="dfFilter">
<button (click)="resetFilter()">Reset</button>

<br> <!-- Line break for separation -->


<app-mapping-table-management-drawer 
[isOpen]="isOpen" 
[mappingToUpdate]="mappingToUpdate"
(drawerStateChange)="handleDrawerStateChange($event)" 
(mappingAdded)="refreshMappings()"
(mappingUpdated)="refreshMappings()">
</app-mapping-table-management-drawer>


<table class="finance-table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Database Field</th>
      <th>Tag</th>
      <th>Field Description</th>
      <th>Entity Name</th>
      <th>MT</th>
      <th>Field Order
        <button (click)="sortByOrder(true)">
          &uarr; <!-- Up arrow symbol -->
        </button>
        <button (click)="sortByOrder(false)">
          &darr; <!-- Down arrow symbol -->
        </button>
      </th>
      <th>Mapping Rules</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mapping of mappings">
      <td>{{ mapping.status }}</td>
      <td>{{ mapping.databaseField }}</td>
      <td>{{ mapping.tag }}</td>
      <td>{{ mapping.fieldDescription }}</td>
      <td>{{ mapping.entityName }}</td>
      <td>{{ mapping.mt }}</td>
      <td>{{ mapping.fieldOrder }}</td>
      <td>{{ mapping.mappingRule }}</td>
      <td>
        <button (click)="openDrawer(mapping)" disabled>Edit</button>
        <button (click)="deleteMapping(mapping.id)" disabled>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
