<div class="drawer" [class.open]="isOpen">
    <h2>{{ mappingToUpdate ? 'Updating a Mapping' : 'Adding a New Mapping' }}</h2>

    <form (ngSubmit)="onSubmit()" class="form">

        <!-- MT -->
        <div class="form-group">
            <label>Main Mapping Details</label>
            <label for="mt">MT</label>
            <select id="mt" name="mt" [(ngModel)]="newMapping.mt">
                <option *ngFor="let mt of mts" [value]="mt">{{ mt }}</option>
            </select>
        </div>

        <!-- Field Order -->
        <div class="form-group">
            <label for="fieldOrder">Field Order</label>
            <input type="number" id="fieldOrder" name="fieldOrder" [(ngModel)]="newMapping.fieldOrder">
        </div>

        <!-- Tag -->
        <div class="form-group">
            <label for="tag">Tag</label>
            <input type="text" id="tag" name="tag" [(ngModel)]="newMapping.tag">
        </div>

        <!-- Field Name -->
        <div class="form-group">
            <label for="fieldName">Field Name</label>
            <input type="text" id="fieldName" name="fieldName" [(ngModel)]="newMapping.fieldName">
        </div>

        <!-- Status -->
        <div class="form-group">
            <label for="status">Status</label>
            <select id="status" name="status" [(ngModel)]="newMapping.status">
                <option value="M">M</option>
                <option value="O">O</option>
            </select>
        </div>

        <div class="form-group">
            <label>Mapping Type</label>
            <div class="radio-group">
                <input type="radio" id="normal-mapping" name="mapping-type" [(ngModel)]="mappingType" value="normal"
                    (change)="onMappingTypeChange('normal')">
                <label for="normal-mapping" class="radio-label">Normal Mapping</label>
                <input type="radio" id="mapping-rules" name="mapping-type" [(ngModel)]="mappingType" value="rules"
                    (change)="onMappingTypeChange('rules')">
                <label for="mapping-rules" class="radio-label">Mapping Rules</label>
            </div>
        </div>

        <div *ngIf="mappingType === 'normal'">
            <!-- Entity Name -->
            <div class="form-group">
                <label for="entityName">Entity Name</label>
                <select id="entityName" [(ngModel)]="newMapping.entityName" (change)="onEntityChange($event)"
                    name="entityName">
                    
                    <option *ngFor="let entity of entities" [value]="entity">{{ entity }}</option>
                </select>
            </div>

            <!-- Database Field -->
            <div class="form-group">
                <label for="databaseField">Database Field</label>
                <select id="databaseField" [(ngModel)]="newMapping.databaseField" name="databaseField">
                    <option value="" *ngIf="!newMapping.entityName">Select an Entity Name</option>
                    <option *ngFor="let field of dbFields" [value]="field">{{ field }}</option>
                </select>
            </div>

        </div>
        <div *ngIf="mappingType === 'rules'">
            <!-- Dynamic fields -->
            <div class="dynamic-fields">
                <div class="dynamic-fields" *ngFor="let field of selectedFields; let i = index">
                    <div class="form-group">
                        <label for="mrEntityName-{{i}}">Entity Name {{i + 1}}</label>
                        <select id="mrEntityName-{{i}}" [(ngModel)]="selectedFields[i].mrEntityName"
                            name="mrEntityName-{{i}}" (change)="onDynamicEntityChange(i, $event)">
                            <option *ngFor="let entity of entities" [value]="entity">{{ entity }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mrDatabaseField-{{i}}">Database Field {{i + 1}}</label>
                        <select id="mrDatabaseField-{{i}}" [(ngModel)]="selectedFields[i].mrDatabaseField"
                            name="mrDatabaseField-{{i}}">
                            <option value="" *ngIf="!selectedFields[i].mrEntityName">Select an Entity Name</option>
                            <option *ngFor="let field of mrFields[i]" [value]="field">{{ field }}</option>
                        </select>
                    </div>
                    <button type="button" (click)="removeField(i)" *ngIf="selectedFields.length > 1">Remove</button>
                    <button type="button" (click)="addField()" *ngIf="i === selectedFields.length - 1">Add
                        Field</button>
                </div>
            </div>

            <!-- Delimiter -->
            <div class="form-group">
                <label for="delimiter">Delimiter</label>
                <textarea id="delimiter" name="delimiter" [(ngModel)]="newMapping.delimiter" required placeholder="e.g., ,\n etc..."></textarea>
            </div>

            <!-- Code -->
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" id="code" name="code" [(ngModel)]="newMapping.code" required>
            </div>

        </div>

        <!-- Field Description -->
        <div class="form-group">
            <label>Additional Information</label>
            <label for="fieldDescription">Field Description</label>
            <textarea type="text" id="fieldDescription" name="fieldDescription" [(ngModel)]="newMapping.fieldDescription" placeholder="Enter additional information about the field"></textarea>
        </div>

        <div class="actions">
            <button type="submit">{{ mappingToUpdate ? 'Update' : 'Add' }}</button>
            <button type="button" (click)="closeDrawer()">Cancel</button>
        </div>
    </form>
</div>