<div class="card-container">
  <h1>Financial Deals</h1>

  <div *ngIf="deals" class="card-list">
    <div *ngFor="let deal of deals" class="card">
      <div class="card-content">
        <p><strong>Form LC:</strong> {{ deal.formLC }}</p>
        <p><strong>Due Date:</strong> {{ deal.dueDate }}</p>
        <p><strong>Expiry Date:</strong> {{ deal.expiryDate }}</p>
        <p><strong>Expiry Place:</strong> {{ deal.expiryPlace }}</p>
        <p><strong>Issuing Bank Reference:</strong> {{ deal.bankISSRef }}</p>
        <p><strong>Currency & Amount:</strong> {{ deal.currencyID }} {{ deal.lcAmount }}</p>
        <p><strong>Percentage Credit Amount Tolerance:</strong> {{ deal.varAmountTolerance }}</p>
        <p><strong>Partial Transhipment:</strong> {{ deal.partialTranshipment }}</p>
        <p><strong>Transhipment:</strong> {{ deal.transhipment }}</p>
        <p><strong>Period for Presentation in Days:</strong> {{ deal.presDay }}</p>
        <p><strong>Charges:</strong> {{ deal.confirmationCharge }}</p>
        <p><strong>Additional Amounts Covered:</strong> {{ deal.addAmtCovered }}</p>
        <select [(ngModel)]="selectedMt">
          <option *ngFor="let mt of distinctMtValues" [value]="mt">{{ mt }}</option>
        </select>
        <select [(ngModel)]="format">
          <option *ngFor="let fr of formats" [value]="fr">{{ fr }}</option>
        </select>
        <br>

        <div *ngIf="selectedMt === '798'">
          <select [(ngModel)]="selectedSubMt">
            <option value="700">700</option>
            <option value="701">701</option>
          </select>
        </div>

        <!-- Button with conditional click event -->
        <button [disabled]="selectedMt === ''"
          (click)="selectedMt === '798' && selectedSubMt !== null ? exportMT798(deal.id,selectedSubMt,format) : exportMT(deal.id, selectedMt, format)">
          Generate MT{{ selectedMt === '798' ? '798' : selectedMt }}
        </button>
      </div>
    </div>
  </div>
</div>