.card-container {
  margin-top: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(33.33% - 20px);
  /* Adjust as needed */
  padding: 10px;
}

.card-content {
  padding: 5px;
}

.card-content p {
  margin: 5px 0;
}

.card-content p strong {
  font-weight: bold;
}


.feedback {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.feedback.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.feedback button {
  background: transparent;
  border: none;
  cursor: pointer;
}